[Unit]
Description=NoticeMe demo service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/var/www/noticeme_landing/demo/backend/notice-me-demo

[Install]
WantedBy=multi-user.target
